<article class="login">
  <form class="login__form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <h3>Log in</h3>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
    </mat-form-field>
    <section class="login__buttons-container">
      <button mat-raised-button>Cancel</button>
      <button mat-raised-button color="primary" [disabled]="disableSubmit">
        Login
      </button>
    </section>
  </form>
</article>
