<article>
  <h1>All services:</h1>
  <ul *ngIf="services$ | async as services; else noServices">
    <li *ngFor="let service of services">
      {{ service.serviceName }}
    </li>
  </ul>
  <ng-template #noServices>
    <h3>no services to show</h3>
  </ng-template>

  <booking-service-form
    *ngIf="showServiceForm; else addNewServiceButton"
    (submitForm)="handleFormSubmit($event)"
  >
  </booking-service-form>

  <ng-template #addNewServiceButton>
    <button (click)="toggleServiceForm()">
      Add new service
    </button>
  </ng-template>
</article>
