@import 'src/styles/_mixins';

.registration {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;

    @include small-width {
      flex-direction: column;
    }
  }

  &__colum--left,
  &__colum--right {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
  }

  &__passwords {
    display: flex;
    flex-direction: column;
  }

  &__buttons-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include small-width {
      flex-direction: column-reverse;
      width: 70%;
    }
  }

  &__button {
    width: 50%;
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
