.offer-form {
  padding: 0 2.5%;

  &__column {
    padding: 1rem 0;
    display: flex;

    > figure {
      width: 50%;
    }

    // &--left {
    // }
    &--right {
      padding-left: 1rem;
    }
  }

  &__input {
    &--wide {
      width: 90%;
    }

    &--medium {
      width: 48%;
    }

    &--small {
      width: 28%;
    }
  }

  &__add-product {
    float: left;
  }

  figure {
    margin: 0;
  }

  .space-between {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button-container {
    float: right;
    button {
      margin: 0.5rem;
    }
  }
}
