<mat-toolbar>
  <h2>Reservations:</h2>
</mat-toolbar>

<article class="reservations-list">
  <article>
    <ng-template #provider>
      <h3>List of your services reservations:</h3>
    </ng-template>
    <mat-card
      class="reservations-list__item"
      *ngFor="let reservation of reservations"
    >
      <span>
        <b>Date:</b> {{ reservation.date | date: 'dd/MM/yy, h:mm a' }}
      </span>
      <span> <b>Service:</b> {{ reservation.product }} </span>

      <span><b>Client name:</b> {{ reservation.clientName }}</span>
      <span><b>Contact number:</b> +48 {{ reservation.clientPhone }}</span>
    </mat-card>
  </article>

  <ng-template #noReservations>
    <h3>No reservations done yet</h3>
  </ng-template>
</article>
