<article class="reservations-list">
  <article>
    <h3 *ngIf="type === 'client'; else provider">Your reservations:</h3>
    <ng-template #provider>
      <h3>List of your services reservations:</h3>
    </ng-template>
    <mat-card
      class="reservations-list__item"
      *ngFor="let reservation of reservations"
    >
      <span>
        <b>Date:</b> {{ reservation.date | date: 'M/d/yy, h:mm a' }}
      </span>
      <span> <b>Service:</b> {{ reservation.product }} </span>

      <span
        ><b>Address:</b> {{ reservation.address }}, {{ reservation.city }}</span
      >
      <span><b>Contact number:</b> +48 {{ reservation.phone }}</span>
    </mat-card>
  </article>

  <ng-template #noReservations>
    <h3>No reservations done yet</h3>
  </ng-template>
</article>
