.menu {
  height: 100%;

  &__drawer {
    width: 30%;
    @media all and (max-width: 1000px) {
      width: 60%;
    }
    @media all and (max-width: 500px) {
      width: 80%;
    }
  }
  &__content {
    min-height: 90vh;
    width: 100vw;
  }
}
