@import 'src/styles/variables';
@import 'src/styles/mixins';

.menu {
  height: 100%;

  &__drawer {
    width: 30%;
    @include media-width(60%, 80%);
  }
  &__content {
    min-height: 90vh;
    width: 100vw;
  }
}
