<article
  *ngIf="parentForm; else nonEditableList"
  [formGroup]="parentForm"
  class="products-list"
>
  <h4>List of services that you offer:</h4>
  <figure
    class="products-list__container"
    formArrayName="products"
    *ngFor="let product of productsArray.controls; let index = index"
  >
    <mat-card class="products-list__card" [formGroupName]="index">
      <button mat-mini-fab color="warn" (click)="deleteProduct(index)">
        <mat-icon>remove</mat-icon>
      </button>

      <mat-form-field class="products-list__section--wide">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="products-list__section--small">
        <mat-label>Duration</mat-label>
        <mat-select formControlName="duration">
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{ hour }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="products-list__section--medium">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" />
      </mat-form-field>
    </mat-card>
  </figure>

  <button
    mat-mini-fab
    class="products-list__add"
    color="primary"
    (click)="addNewProduct()"
  >
    <mat-icon>add</mat-icon>
  </button>
</article>

<ng-template #nonEditableList>
  <h4>List of offered services:</h4>
  <article *ngFor="let product of productsList">
    <mat-card class="products-list__card">
      <h4 class="products-list__section--wide card-title">
        {{ product.name }}
      </h4>

      <span class="products-list__section--medium">
        {{ product.duration }} hours
      </span>

      <span class="products-list__section--medium">
        {{ product.price }} PLN
      </span>
      <button
        mat-raised-button
        color="primary"
        (click)="handleSelectedProduct(product)"
      >
        Select
      </button>
    </mat-card>
  </article>
</ng-template>
