@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/flex';

html,
body {
  height: 100%;
  font-size: 18px;

  @include medium-width {
    font-size: 15px;
  }

  @include small-width {
    font-size: 13px;
  }
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
