/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 18px;

  @media all and (max-width: 1000px) {
    font-size: 15px;
  }

  @media all and (max-width: 500px) {
    font-size: 13px;
  }
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
