<article class="offers">
  <mat-toolbar>
    <h1 class="offers__title">All offered services:</h1>
  </mat-toolbar>

  <ul class="offers__list" *ngIf="offers$ | async as offers; else loading">
    <ng-container *ngIf="offers.length !== 0; else noOffers">
      <booking-offer-card
        li
        class="offers__item"
        *ngFor="let offer of offers"
        [offer]="offer"
      ></booking-offer-card>
    </ng-container>

    <ng-template #noOffers>
      <h1>No offers found!</h1>
    </ng-template>
  </ul>

  <ng-template #loading>
    <div class="offers__loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</article>
