<article class="select-product">
  <h2 mat-dialog-title>{{ product.name }}</h2>
  <mat-dialog-content
    class="mat-typography select-product__container"
    [formGroup]="selectDateForm"
  >
    <mat-form-field appearance="fill" class="select-product__date-input">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [min]="currentDate"
        formControlName="selectedDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <ng-container
      *ngIf="selectDateForm.controls.selectedDate.valueChanges | async"
    >
      <mat-form-field appearance="fill" class="select-product__hour-input">
        <mat-label>Select avaliable hour</mat-label>
        <mat-select formControlName="selectedHour">
          <mat-option *ngFor="let hour of avaliableHours" [value]="hour">
            {{ hour }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Your name:</mat-label>
        <input matInput type="text" formControlName="clientName" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Your phone number:</mat-label>
        <input matInput type="text" formControlName="clientPhone" />
      </mat-form-field>
    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="createReservation()"
      [disabled]="disableSubmit"
    >
      Book service
    </button>
  </mat-dialog-actions>
</article>
